html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/*App.js App component */
.principalContainer {
  text-align: center;
}

/*LogIn.js LogIn component */
.loginContainer {
  background: url("./Images/BackgroundDesktop.jpg") no-repeat center fixed;
  background-size: cover;
  font-size: 17px;
  height: 625px;
  width: 100%;
}

.loginLogo {
  width: 26%;
}

/*LogIn.js LogInItems component */
.loginButton {
  background: #FFFFFF;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 18px;
  padding: 10px;
  width: 26%;
}

.loginButton img {
  margin-right: 35px;
}

/*NotesTimeline.js NotesTimeline component */
.notesContainer {
  background: url("./Images/BackgroundDesktop2.jpg") no-repeat center fixed;
  background-size: cover;
  font-size: 17px;
  height: 625px;
  width: 100%;
}

.notesLogo {
  width: 20%;
}
