html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.principalContainer {
  text-align: center;
}

.loginContainer {
  background: url("./Images/BackgroundDesktop.jpg") no-repeat center fixed;
  background-size: cover;
  height: 625px;
  width: 100%;
  font-size: 17px;
}

.loginLogo {
  width: 26%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
